<html>
  <head>
    <title>Super Stools Surveys</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	  <!-- Latest compiled and minified JavaScript -->	
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
  <body>	
    <!-- add logo -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src=".../public/images/logo.jpg">
      </a>
    </div>
    </div>
    </nav>  
  	<!--Create the navbar and fix it at the top-->
    <ul class="navbar navbar-inverse navbar-fixed-top">
      
      
  	<a class="btn btn-info btn-lg" href="/survey">SURVEYS</a>
    <a class="btn btn-info btn-lg" href="/about">ABOUT</a>
    <a class="btn btn-info btn-lg" href="/login">LOGIN</a>
    <a class="btn btn-info btn-lg" href="/register">REGISTER</a>
    <a class="btn btn-info btn-lg" href="/surveyCreate">SURVEY CREATE</a>
    <a class="btn btn-info btn-lg" href="/surveyList">SURVEY LIST</a>
    <a class="btn btn-info btn-lg" href="/surveyResults">SURVEY RESULTS</a>
    <a class="btn btn-info btn-lg" href="/surveyTake">SURVEY TAKE</a>
  	</ul>