<html>
  <head>
    <title>Super Stools Surveys</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"  crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
  <body>	
    

      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/survey">SURVEYS</a></li>
        <li role="presentation"><a href="/about">ABOUT</a></li>
        <li role="presentation"><a href="/login">LOGIN</a></li>
        <li role="presentation"><a href="/register">REGISTER</a></li>
        <li role="presentation"><a href="/surveyCreate">CREATE SURVEY</a></li>
        <li role="presentation"><a href="/surveyList">SURVEY LIST</a></li>
        <li role="presentation"><a href="/surveyResults">SURVEY RESULTS</a></li>
        <li role="presentation"><a href="/surveyTake">SURVEY TAKE</a></li>
      </ul>
      
  	<!--Create the navbar and fix it at the top
    <ul class="navbar navbar-inverse navbar-fixed-top">
      
      
        <li role="presentation"><a href="/survey">SURVEYS</a></li>
        <li role="presentation"><a href="/about">ABOUT</a></li>
        <li role="presentation"><a href="/login">LOGIN</a></li>
        <li role="presentation"><a href="/register">REGISTER</a></li>
        <li role="presentation"><a href="/surveyCreate">SURVEY CREATE</a></li>
        <li role="presentation"><a href="/surveyList">SURVEY LIST</a></li>
        <li role="presentation"><a href="/surveyResults">SURVEY RESULTS</a></li>
        <li role="presentation"><a href="/surveyTake">SURVEY TAKE</a></li>
  	</ul> -->