<%- include partials/header.ejs %> 

    <h1>Survey Site - About</h1>

    <p>Hello and welcome to Super Stools Surveys</p>

    <div class="jumbotron">
    	<div class="conatiner">
    	 	<p>Hello and welcome to Super Stools Surveys</p>
    		<p></p>
    	</div>
    </div>
  </body>
</html>
