<!--
//This is the template for about.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//about.ejs
-->
<%- include partials/header.ejs %> 

    <h1>Survey Site - About</h1>
    	<div class="container">
    	 	<p>Hello and welcome to Super Stools Surveys</p>
    		<p></p>
    	</div>
  </body>
</html>
