<!--
//This is the template for error.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//error.ejs
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
