<!--
//This is the template for index.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//index.ejs
-->
<%- include partials/header.ejs %>

    <h1>Survey Site - Home</h1>


  </body>
</html>
