<!--
//This is the template for logoutSuccess.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//logoutSuccess.ejs
-->
<%- include partials/header.ejs %>

	<h1> YOU HAVE SUCCESSFULLY LOGGED OUT!</h1>

  </body>
</html>
