<!--
//This is the template for registerSuccess.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//registeSuccess.ejs
-->
<%- include partials/header.ejs %>

    <h1> YOU HAVE SUCCESSFULLY REGISTERED!</h1>

  </body>
</html>
