<%- include partials/header.ejs %>

    <h1>Survey Site - Register</h1>
    <a href="/survey">SURVEYS</a>
    <a href="/about">ABOUT</a>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
    <a href="/surveyCreate">SURVEY CREATE</a>
    <a href="/surveyList">SURVEY LIST</a>
    <a href="/surveyResults">SURVEY RESULTS</a>
    <a href="/surveyTake">SURVEY TAKE</a>
  </body>
</html>
