<!--
//This is the template for surveyCreate.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//surveyCreate.ejs
-->
<%- include partials/header.ejs %>

    <h1>Survey Site - Survey Create</h1>

  </body>
</html>
