<!--
//This is the template for surveyCreateSuccess.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//surveyCreateSuccess.ejs
-->
<%- include partials/header.ejs %>

	<h1> YOU HAVE SUCCESSFULLY CREATED A SURVEY!</h1>

  </body>
</html>
