<!--
//This is the template for surveyList.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//surveyList.ejs
-->
<%- include partials/header.ejs %>

    <h1>Survey Site - Survey List</h1>

  </body>
</html>
