<%- include partials/header.ejs %>

    <h1>Survey Site - Survey Take</h1>
<<<<<<< HEAD
    
    
=======

    <h4>Enter survey title to search for a survey</h4>
>>>>>>> origin/master
  </body>
</html>
