<!--
//This is the template for trueFalse.ejs
//Authors: Nathan, Christain, Ryan  
//website: finalAssignment.azurewebsite.com
//trueFalse.ejs
-->
<%- include partials/header.ejs %>

<h1>Create True False Survey</h1>
	
	<main class="container">
		

	
		
		<div class="col-sm-4">
			<form method="post">
				<fieldset class="form-group">
					<label for="surveytitle">Survey Title: *</label>
					<input name="surveytitle" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="surveyquestion">Survey Question 1: *</label>
					<input name="surveyquestion" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="surveyquestion2">Survey Question 2: *</label>
					<input name="surveyquestion2" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="surveyquestion3">Survey Question 3: *</label>
					<input name="surveyquestion3" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="surveyquestion4">Survey Question 4: *</label>
					<input name="surveyquestion4" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="surveyquestion5">Survey Question 5: *</label>
					<input name="surveyquestion5" type="text" class="form-control" required autofocus />
				</fieldset>



				
				<fieldset class="form-group text-right">
					<input type="submit" class="btn btn-success" value="Create Survey"/>
				</fieldset>
			</form>
		</div>
	</main>
	
  </body>
</html>